<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean primary="true" name="unaBoot" class="com.ramostear.configuration.annotation.beans.UserBean">
        <constructor-arg name="username" value="unaBoot"/>
    </bean>
</beans>